.page.view-all-page table#exampleFooAccordion td table.footable-details { margin-bottom: 0; }
#exampleWizardForm .steps .step.step-error {
    background-color: #ff4c52 !important;
}
#exampleWizardForm .steps .step.step-error .step-number {
    color: #ff4c52 !important;
}
#exampleWizardForm .steps .step.step-done {
    background-color: #11c26d !important;
}
#exampleWizardForm .steps .step.step-done .step-number {
    color: #11c26d !important;
}

#exampleWizardForm .wizard-pane:not(.active) {
    display: none !important;
}

.modal-open .select2-container {
    z-index: auto;
}

.footable-details * { cursor: default; }
.footable-details td { text-align: left; }
.footable-details .footable-details th,
.footable-details .footable-details td { text-align: center; }

.form-button { display: inline; }
.form-button button { background: none; border: none; padding: 0; cursor: pointer; }
.cursor-pointer { cursor: pointer; }
button:focus { outline: none; box-shadow: none; }

/* body { opacity: 1 !important; } */